
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for ProjectDetails</h1>

<f:flashMessages />

<table  class="tx_podcast" >
	<tr>
		<th><f:translate key="tx_podcast_domain_model_projectdetails.date" /></th>
		<th><f:translate key="tx_podcast_domain_model_projectdetails.author" /></th>
		<th><f:translate key="tx_podcast_domain_model_projectdetails.categories" /></th>
		<th><f:translate key="tx_podcast_domain_model_projectdetails.link" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{projectDetailss}" as="projectDetails">
		<tr>
			<td><f:link.action action="show" arguments="{projectDetails : projectDetails}"> {projectDetails.date -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{projectDetails : projectDetails}"> {projectDetails.author}</f:link.action></td>
			<td><f:link.action action="show" arguments="{projectDetails : projectDetails}"> {projectDetails.categories}</f:link.action></td>
			<td><f:link.action action="show" arguments="{projectDetails : projectDetails}"> {projectDetails.link}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{projectDetails : projectDetails}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{projectDetails : projectDetails}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New ProjectDetails</f:link.action>
</f:section>