
<label for="date">
	<f:translate key="tx_podcast_domain_model_projectdetails.date" />
</label><br />
	<f:form.textfield class="form-control" property="date"  value="{projectDetails.date->f:format.date()}" /><br />
<label for="author">
	<f:translate key="tx_podcast_domain_model_projectdetails.author" />
</label><br />
	<f:form.textfield class="form-control" property="author" /><br />
<label for="categories">
	<f:translate key="tx_podcast_domain_model_projectdetails.categories" />
</label><br />
	<f:form.textfield class="form-control" property="categories" /><br />
<label for="link">
	<f:translate key="tx_podcast_domain_model_projectdetails.link" />
</label><br />
	<f:form.textfield class="form-control" property="link" /><br />