
<table class="tx-podcast" >
	<tr>
		<td>
			<f:translate key="tx_podcast_domain_model_projectdetails.date" />
		</td>
		<td>
		{projectDetails.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_podcast_domain_model_projectdetails.author" />
		</td>
		<td>
		{projectDetails.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_podcast_domain_model_projectdetails.categories" />
		</td>
		<td>
		{projectDetails.categories}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_podcast_domain_model_projectdetails.link" />
		</td>
		<td>
		{projectDetails.link}
		</td>
	</tr>
</table>