
<label for="date">
	<f:translate key="tx_podcast_domain_model_projectdetail.date" />
</label><br />
	<f:form.textfield property="date"  value="{projectDetail.date->f:format.date()}" /><br />
<label for="author">
	<f:translate key="tx_podcast_domain_model_projectdetail.author" />
</label><br />
	<f:form.textfield property="author" /><br />
<label for="categories">
	<f:translate key="tx_podcast_domain_model_projectdetail.categories" />
</label><br />
	<f:form.textfield property="categories" /><br />
<label for="link">
	<f:translate key="tx_podcast_domain_model_projectdetail.link" />
</label><br />
	<f:form.textfield property="link" /><br />