
<table class="tx-podcast" >
	<tr>
		<td>
			<f:translate key="tx_podcast_domain_model_projectdetail.date" />
		</td>
		<td>
		{projectDetail.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_podcast_domain_model_projectdetail.author" />
		</td>
		<td>
		{projectDetail.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_podcast_domain_model_projectdetail.categories" />
		</td>
		<td>
		{projectDetail.categories}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_podcast_domain_model_projectdetail.link" />
		</td>
		<td>
		{projectDetail.link}
		</td>
	</tr>
</table>